*
{
	box-sizing: border-box;
	scroll-behavior: smooth; 
}

body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 90%;
	margin: 0;
	text-align: left;
	background-color: #E5E7E9;
	font-weight: 400;
	line-height: 1.5;
	color: #243A73;
	display: block;
}

.navbar-nav .nav-link
{
	padding-right: 0;
	padding-left: 0;
}

.navbar-light .navbar-nav .active>.nav-link
{
	color: rgba(0, 0, 0, 0.9);
}

.nav-link
{
	display: block;
	padding: 0.5rem 1rem;
}

a
{
	text-decoration: none;
	background-color: transparent;
}

#landing
{
	background-color: #243A73;
	color: #F9F7F7;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#landing h1
{
	font-weight: 700;
	font-size: 2.65rem;
}

#landing a 
{
	font-size: 1.25rem;
	padding: 1.5% 27%;
	margin-top: 2.5rem;
	color: #243A73;
	background-color: #F9F7F7;
	border-color: #F9F7F7;
	display: inline-flex;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
}

#landing a:hover
{
	background-color: #D7DBDD;
	color: #ffffff;
}

h1
{
	display: block;
}

h1, h2
{
	margin-bottom: 0.5rem;
	margin-top: 0;
	line-height: 1.2;
}

h5
{
	font-size: 23px;
}

#website-options
{
	min-height: 100vh;
}

#website-options a
{
	margin-top: 0.5rem;
}

.btn-primary:active
{
	color: #F9F7F7;
	background-color: #243A73;
	border-color: #243A73;
}

.btn-primary:hover
{
	color: #243A73;
	background-color: #E5E7E9;
	border-color: #243A73;
}

.btn-primary:focus
{
	color: #243A73;
	background-color: #E5E7E9;
	border-color: #243A73;
}

.btn
{
	background-color: #243A73;
	color: #F9F7F7;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	padding: 0.375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 10px;
	border: 1px solid transparent;
}

.card
{
	border-radius: 10px;
}

.card-body
{
	background-color: #F9F7F7;
	color: #243A73;
	border-radius: 10px;
	border: 1px solid;
}

.card-body a
{
	padding:  0.5rem 5rem;
	background-color: #243A73;
	text-decoration: none;
	color: #F9F7F7;
	border-radius: 10px;
	font-size: 17px;
}

#goTopBtn
{
	height: 0.85rem;
	width: 2.2rem;
	bottom: 3.4rem;
	right: 1rem;
	position: fixed;
	text-decoration: none;
	text-align: center;
	color: #243A73;
	font-size: 45px;
	border-radius: 10px;
}

#footer
{
	margin-top: 1rem;
	padding: 2.5rem;
	background-color: #243A73;
	color: #F9F7F7;
	font-size: 16px;
}

#footer a i
{
	color: #F9F7F7;
	background-color: #243A73;
	padding: 0 0.75rem;
	font-size: 20px;
	text-align: center;
}